name: Web + Android CI

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:

  deploy-web:
    runs-on: ubuntu-latest
    concurrency:
      group: pages
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install
      - run: npm run build

      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v4
        with:
          path: dist
      - uses: actions/deploy-pages@v4


  build-android:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install
      - run: npm run build

      # نصب Capacitor داخل CI
      - run: npm install @capacitor/core @capacitor/cli @capacitor/android

      # init پروژه capacitor
      - run: npx cap init finance com.finance --web-dir=dist

      # ساخت android project
      - run: npx cap add android
      - name: Force Kotlin version
        run: |
          cat <<'EOF' >> android/build.gradle
          allprojects {
              configurations.all {
                  resolutionStrategy.eachDependency { details ->
                      if (details.requested.group == "org.jetbrains.kotlin") {
                          details.useVersion "1.8.22"
                      }
                  }
              }
          }
          EOF
      # sync فایل‌ها
      - run: npx cap sync android

      # جاوا
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      # build apk
      - run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      - uses: actions/upload-artifact@v4
        with:
          name: android-apk
          path: android/app/build/outputs/apk/debug/*.apk
          retention-days: 2
